*.sdf
*.sln
*.suo
vs.proj/BigFiles.opensdf
vs.proj/BigFiles.exp
vs.proj/BigFiles.lib
vs.proj/BigFiles.vcxproj.user
*.aps
*.zip
.vs/
Win32/Release/*.ipdb
Win32/Release/*.iobj
x64/Release/*.ipdb
x64/Release/*.iobj
Win32/Debug/*.exp
Win32/Debug/*.ilk
Win32/Debug/*.lib
Win32/Debug/*.pdb
x64/Debug/*.exp
x64/Debug/*.ilk
x64/Debug/*.lib
x64/Debug/*.pdb